.input-area {
    width: 90%;
    height: 80vh; 
    margin: 1rem auto;
    
    transition: height 0.8s ease; 
  }
  
.small-input-area {
    width: auto;
    height: 18vh; 
    margin: 0;
    padding: 0 1rem;
}